div.panel-body(ng-message='required') Dieses Feld muss ausgefüllt werden
div.panel-body(ng-message='minlength') Zu kurz
div.panel-body(ng-message='maxlength') Zu lang
div.panel-body(ng-message='email') Das ist keine gültige E-Mailadresse
div.panel-body(ng-message='wrongPasswordOrLoginName') Passwort oder Benutzername ist falsch