div(ng-controller='loginController')
	h1 Login
	form.form-inline(name='loginForm', ng-submit='login()')
		div.form-group
			input.form-control(type='text', ng-model='user.username', placeholder='Benutzername', required)
		div.form-group
			input.form-control(type='password', ng-model='user.password', placeholder='Passwort', required)
		button.btn.btn-default-alt(type='submit') Anmelden
	br
	div.alert.alert-info Falls Du noch nicht registriert bist, 
		a(ui-sref='register') klicke hier.