div
	h1 Registrieren
	form.form-horizontal(name='registerForm', ng-submit='registerForm.$valid && arePasswordsIdentical() && register()')
		div.form-group
			label.col-sm-2.control-label Anmeldename:
			div.col-sm-10
				input.form-control(type='text', ng-model='user.userName', name='userName', placeholder='Benutzername', test12, required)

				//-error validation
				div.panel.panel-danger.ng-active(ng-if='interacted(registerForm.userName)', ng-messages='registerForm.userName.$error', ng-messages-include='app/templates/error-messages.tpl.html')
					div.panel-body(ng-message='usernameOrMailAddressLoading') Name wird überprüft...
					div.panel-body(ng-message='usernameOrMailAddressAvailable') Dieser Name ist nicht mehr verfügbar
		div.form-group
			label.col-sm-2.control-label Anzeigename:
			div.col-sm-10
				input.form-control(type='text', ng-model='user.displayName', name='displayName', placeholder='Anzeigename', required)

				//-error validation
				div.panel.panel-danger(ng-if='interacted(registerForm.displayName)', ng-messages='registerForm.displayName.$error', ng-messages-include='app/templates/error-messages.tpl.html')
		div.form-group
			label.col-sm-2.control-label E-Mail Adresse:
			div.col-sm-10
				input.form-control(type='email', ng-model='user.mailAddress', name='mailAddress', placeholder='E-Mail Adresse', user-name-or-mail-address-availability-validator, required)

				//-error validation
				div.panel.panel-danger(ng-if='interacted(registerForm.mailAddress)', ng-messages='registerForm.mailAddress.$error', ng-messages-include='app/templates/error-messages.tpl.html')
		div.form-group
			label.col-sm-2.control-label Passwort:
			div.col-sm-10
				input.form-control(type='password', ng-model='user.password', name='password', placeholder='Passwort', required)

				//-error validation
				div.panel.panel-danger(ng-if='interacted(registerForm.passwordRepetition)', ng-messages='registerForm.password.$error', ng-messages-include='app/templates/error-messages.tpl.html')
		div.form-group
			label.col-sm-2.control-label Passwort wiederholen:
			div.col-sm-10
				input.form-control(type='password', ng-model='user.passwordRepetition', name='passwordRepetition', placeholder='Passwort', password-repetition-validator='{{user.password}}' required)

				//-error validation
				div.panel.panel-danger(ng-if='interacted(registerForm.passwordRepetition)', ng-messages='registerForm.passwordRepetition.$error', ng-messages-include='app/templates/error-messages.tpl.html')
					div.panel-body(ng-message='passwordIsRepeated') Passwörter stimmt nicht überein
		div.form-group
			div.col-sm-10.col-sm-offset-2
				button.btn.btn-default-alt(type='submit') Registrieren