doctype html
html(ng-app='redundancy')
head
	title
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(charset='utf-8')
	link(href='bower_components/bootswatch/cosmo/bootstrap.min.css', rel='stylesheet')
	link(href='app_components/vendor/sb-admin/css/sb-admin.css', rel='stylesheet')
body
	//Livereload script for development only (stripped during dist build) 
	script(src='http://localhost:35729/livereload.js', data-concat='false')

	//JS from Bower Components
	script(src='bower_components/jquery/jquery.js')
	script(src='bower_components/bootstrap/dist/js/bootstrap.js')
	script(src='bower_components/angular/angular.js')
	script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
	script(src='bower_components/ng-messages/angular-messages.js')
	script(src='bower_components/angular-translate/angular-translate.js')
	script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
	//Add New Bower Component JS Above

	//Main App JS 
	script(src='app_components/app.js')
	script(src='app_components/config.js')
	script(src='app_components/services/user.js')
	script(src='app_components/services/principal.js')
	script(src='app_components/register/register.js')
	script(src='app_components/register/usernameOrMailAddressAvailabilityValidator.js')
	script(src='app_components/register/passwordRepetitionValidator.js')
	script(src='app_components/login/login.js')
	script(src='app_components/main/main.js')
	script(src='app_components/start/start.js')
		
	//Add New Component JS Above 
	div(ui-view='')