doctype html
head
	title R2
	link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.css')
	link(rel='stylesheet', href='app/css/advanced.css')
	script(src='vendor/angular/angular-1.3.0-beta15.js')
	script(src='vendor/angular/angular-ui-router.js')
	script(src='vendor/angular/angular-messages.js')
	script(src='app/app.js')
	script(src='app/config.js')
	script(src='app/services/user.js')
	script(src='app/services/principal.js')
	script(src='app/register/register.js')
	script(src='app/register/usernameOrMailAddressAvailabilityValidator.js')
	script(src='app/register/passwordRepetitionValidator.js')
	script(src='app/login/login.js')
body(ng-app='redundancy')
	//-TODO: include header
	div.container(ui-view)
	//-TODO: include footer
