@font-face{
    font-family: DidactGothic;
	src: url("./Fonts/DidactGothic/DidactGothic.ttf");
}

*{
    margin: 0;
	padding: 0;
font-Family: DidactGothic, sans-serif;	
}

body{
    background: url('Images/gries4.png') repeat lightgray;
}
/* 
a #imageLogo:hover{
    border: 0;
} */

img#imagelogo{
    position: fixed;
    width: 26px;
	top: 3px;
	left: 50%;
}

a{
    color: red;
	text-decoration: none;
}

a:hover{
    color: black;
}

#title img{
    width: 16px;
}

#title{
    display: inline;
}

div#statusbar{
	padding-left: 8px;
	background: #F0F0F0;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #f55d5d;
}

 #statusbar ul , #statusbar li {
    display: inline-block;
}

#statusbar li{
 	padding: 5px;
	border-bottom: 2px solid transparent;
}

/* #statusbar li:hover{
    color: black;
	border-bottom: 2px solid #F55D5D;
} */

#statusbar a{
    margin: 10px;
}

a#accountname{
    position: absolute;
 	right: 5px;
	top: -4px;
}

div#sidebar{
  //  box-shadow: inset 1px 4px 9px -6px black; 
    background: #F0F0F0;
    width: 300px;
    position: absolute;
	top: 33px;
	right: 0;
	padding: 10px;
}

#statusbar img, #broadcrumb img, #sidebar img{
    margin-right: 6px;
	border: 0;
	text-decoration: none;
	vertical-align: sub;
}

div#progressbar{
    background: lightgray;
	//padding: 3px;
	border-radius: 2px;
	margin-bottom: 5px;
}

#sidebar a{
    display: block;
    color: #F55D5D;
	//font-style: italic;
	//font-weight: bold;
	margin-top: 5px;
}

#sidebar a:hover{
    color: black;
}

div#progressbar_inner{
    background: white;
	border: 1px solid lightgray;
	padding: 3px 0;
}

#progressbar_inner p{
	//horizontal-align: middle;
	text-align: center;
}

div#content{
    margin-top: 6px;
	padding-top: 40px;
	padding-bottom: 15px;
    background: #F0F0F0;
	border-left: 10px solid #F55D5D;
    box-shadow: inset 1px 4px 9px -6px black; 
	max-width: 900px;
	min-width: 400px;
	margin: 0 auto;
}

div#nothing{
    padding: 10px;
}

table#filetable{
    margin: auto;
	border-collapse: collapse;
	width: 100%;
}

tr.filetype1{
    background: transparent;
}

tr.filetype0{
    background: #f7f7f7;
}

#filetable tr:hover{
    background: #F2D8D8;
}

div#files{
    padding: 10px;
	padding-left: 20px;
	padding-bottom: 0;
	line-height: 150%;
}

#filetable th{
    padding: 5px 15px;
	font-weight: bold;
	color: black;
	background: transparent;
}

#filetable td{
    padding: 3px 7px 3px 10px;
	line-height: 35px;
	border-top: 1px solid lightgray;
}

#filetable td.filetype{
    text-align: center;
}

#filetable td img{
    border: 0;
    max-width: 16px;
	max-height: 16px;
}
video 
{
	margin: 10px 0;
	text-align: center;
}
/* #filetable a/*, div#files a*/, div#content a{
    transition: all 2s ease;
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border: 1px solid lightgray;
	padding: 5px;
	margin-top: 5px;
	color: gray;
} */

#filetable a:hover, div#files a:hover, div#content a:hover{

}

#filetable a.delete{
    background: transparent;
	padding: 5px;
	border: 0;
}

#filetable a.filelink{
    background: transparent;
	border: 0;
	border-bottom: 1px black lightgray;
	text-align: center;
}

/* #filetable a:active{
	color: white;
} */


#filetable a.shared{
    background: #F55D5D;
	padding: 10px;
    color: white;
	font-style: italic;
}

#filetable a.shared + a{
    margin-left: 10px;
}

#filetable td.actions{
    text-align: center;
}

a.diractions{
    margin-top: 15px;
    display: block;
    text-align: center;
}

td.size{
    text-align: right;
}

div.contentWrapper{
/*     min-width: 400px;
	max-width: 600px; */
	padding: 10px;
	//margin: auto;
	//background: #f7f7f7;
	//border-bottom: 1px solid lightgray;
	//border-top: 1px solid lightgray;
}

#preview img{
  //  transition: all 0.5s ease;
    position: relative;
    max-width: 500px;
	max-height: 500px;
	border: 0;
}

#preview img:hover{
	max-width: 70%;
	max-height: 70%;
	//margin-top: 20%;
    -webkit-transform: scale(2);
	box-shadow: 0 0 10px black;
}

p#preview{
    text-align: center;
}

p.filename{
	margin: 10px 0;
    font-size: 25px;
	text-align: center;
}

p.source{
    color: gray;
	font-style: italic;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 5px;
}

.contentWrapper p.sharelink{
    float: left;
	text-align: right;
	width: 340px;
	margin-right: 9px;
	line-height: 35px;
}

.contentWrapper input[type=text]{
    border: 0;
	border-radius: 0px;
	width: 200px;
	height: 35px;
}

p.date, p.size{
    display: inline;
}

p.buttons{

    text-align: center;
}

.buttons a{
    margin-right: 10px;
}

.contentWrapper h2{
    margin-bottom: 10px;
	margin-top: 10px;
}

.contentWrapper h3{
	margin-top: 5px;
}

.contentWrapper label{
    float: left;
    width: 100px;
	margin: 0 10px;
    line-height: 35px;
}

.contentWrapper input[type=submit]{
    display: inline;
	background: #F55D5D;
	font-size: 15px;
	font-style: oblique;
    border: 0;
	width: 120px;
	margin-top: 10px;
	color: white;
	height: 30px;
}

.contentWrapper input[type=submit]:hover{
    background: #4873af; /* Old browsers */
	color: white;
}

ul#broadcrumb{
	display: table;
	margin: 0 auto;
}

#broadcrumb li{
    display: inline;
    list-style-type: none;
}

#broadcrumb li a{
    padding: 5px 7px;
    color: black;
}

#broadcrumb li a:hover{
    background: #F55D5D;
	color: white;
}

form#login{
    border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background: #f7f7f7;
    width: 400px;
	padding: 20px 10px 10px 10px;
	margin: auto;
}

#login label{
    float: left;
    width: 140px;
    line-height: 35px;
}

#login img{
    margin-right: 5px;
    border: 0;
}

#login p{
    text-align: right;
	margin-bottom: 10px;
}

#login input.text, .contentWrapper input[type=text]{
    color: black;
    //background: transparent;
    background: rgba(1,1,1,0.05);
	//border-radius: 4px;
	font-size: 17px;
    width: 220px;
	height: 35px;
	padding: 0 10px;
	border: 0;
	margin: 0 10px 0 0;
}
#login select{
	  color: black;
    //background: transparent;
    background: rgba(1,1,1,0.05);
	//border-radius: 4px;
	font-size: 17px;
    width: 240px;
	height: 35px;

	border: 0;
	margin: 0 10px 0 0;
}

#login input.text:focus, .contentWrapper input[type=text]:focus{
    color: black;
    background: lightgray;
}

#login a{
    font-style: italic;
    color: black;
	margin-left: 10px;
}

p#logo{
    margin-top: 10px;
    text-align: center;
}

#logo img{
    max-width: 300px;
}

#login p.loginSubmit{
    text-align: center;
}

#login input[type=submit]{
	width: 380px;
	color: white;
	height: 35px;
	margin-bottom: 15px;
	background: #F55D5D;
	font-size: 15px;
	font-style: oblique;
    border: 0;
	margin-top: 10px;
	color: white;
	height: 30px;
}

#login input[type=submit]:hover{
    background: #4873af; /* Old browsers */
    background: -moz-linear-gradient(top,  #4873af 0%, #3168af 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4873af), color-stop(100%,#3168af)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4873af 0%,#3168af 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4873af 0%,#3168af 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4873af 0%,#3168af 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4873af 0%,#3168af 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4873af', endColorstr='#3168af',GradientType=0 ); /* IE6-9 */
	color: white;
}

div#warning{
    position: absolute;
	bottom: 0;
	left: 35%;
    width: 30%;
	height: 20%;
	background: red;
    color: white;
    font-weight: bold;
    padding: 20px;	
	opacity: 0.8;
}

#warning a{
    color: white;
	border-bottom: 1px dotted white;
}

h3#copyhint{
    //font-style: italic;
	font-size: 18px;
	font-weight: lighter;
    text-align: center;
	color: gray;
	//text-shadow: 0 1px 0 lightgray; 
}

div#version{
	position: fixed;
	right: 5px;
	bottom: 5px;
	background: rgba(52,52,52,0.25);
	padding: 5px;
	color: rgba(255,255,255,0.6);
}