body
{
	background-color:#474747;
	font: 15px  Tahoma, Helvetica, Arial, Sans-Serif;
}
p#title
{
	font: 60px Tahoma, Helvetica, Arial, Sans-Serif;	
	color: #222;
	text-shadow: 0px 2px 3px #555;	
}
p#title {
	display: float; text-decoration: none;
	font: 70px Helvetica, Arial, Sans-Serif; letter-spacing: -5px;  
	color: #999; 
	text-shadow: 0px 3px 8px #2a2a2a;
	margin-bottom:10px;
	margin-top:20px;
 }
p#title sup
{
	color:red;
	font: 30px  Helvetica, Arial, Sans-Serif;
	letter-spacing: 1px;
}
p#title:hover {
	color: #a0a0a0; text-shadow: 0px 5px 8px #2a2a2a;
}
 
li a,ul {
	font: 20px Tahoma, Helvetica, Arial, Sans-Serif;	
	
	text-decoration: none;
	list-style-type: none;
	display:inline;
	color:#090909;
	
}
ul#broadcrumb
{
	background-color:#898989;
	border-radius:10px;
	display: float;
	text-align:middle;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	margin-right: 5px;
}
li a:hover {
	font: 20px Tahoma, Helvetica, Arial, Sans-Serif;	
	display: float; 
	text-decoration: none;
	list-style-type: none;
	display:inline;
	color: #898989;
	
}
a
{
	text-decoration: none;
	list-style-type: none;
	display:inline;
	color: #1e1e1e;	
}
a:hover
{
	display: float; 
	text-decoration: none;
	list-style-type: none;
	display:inline;
	color: #898989;
}
li
{
	list-style: none;
	display: float; 
	margin-top:20px;
	margin-bottom:10px;
}
div#lst
{	
	margin-left:38px;
	font: 18px Tahoma, Helvetica, Arial, Sans-Serif;	
	width:50%;
	position:absolute;
	left:25%;
	padding: 20px;	
	margin-top:10px;
}
div#files
{
	margin-left:38px;
	font: 18px Tahoma, Helvetica, Arial, Sans-Serif;	
	width:50%;
	position:absolute;
	left:25%;
	padding: 20px;	
	margin-top:10px;
	text-align:center;
}
div#upload
{
	margin-left:38px;
	font: 18px Tahoma, Helvetica, Arial, Sans-Serif;	
	width:100%;
	position:absolute;
	padding-top:100px;
	padding: 20px;	
	margin-top:10px;
	text-align:center;
}
div#error
{
		margin-left:38px;
	font: 18px Tahoma, Helvetica, Arial, Sans-Serif;	
	width:50%;
	position:absolute;
	left:25%;
	padding: 20px;	
	margin-top:10px;
	text-align:center;	
}
div#status
{
	
	position:absolute;
	bottom:0px;
	right:0px;
	margin-bottom:5px;
	margin-right:5px;
	font: 15px  Tahoma, Helvetica, Arial, Sans-Serif;
}
input
{
	border-radius:2px;
	background-color:#e6e6e6;
	background-position: 0 -15px;
	font: 19px  Tahoma, Helvetica, Arial, Sans-Serif;
}
div#login
{	
	font: 19px  Tahoma, Helvetica, Arial, Sans-Serif;
	color: #999; 
	text-shadow: 0px 3px 8px #2a2a2a;
	width:500px;
	position:absolute;
	top:20%;
	left:50%;	
	margin-left:-250px;	
	text-align:center;
	padding-top:10px;
	padding-right:10px;
	padding-left:10px; 
}
img#filetype
{
	width:36px;
	heigth:36px;
	margin-right:5px;
	vertical-align:middle;
	border-radius:5px;
}
img#preview
{
	width:125px;
	heigth:125px;
	border-radius:10px;
}
img#preview:hover
{
	width:75%;
	heigth:75%;
	border-shadow:white;
}
table#filetable
{
	font: 19px  Tahoma, Helvetica, Arial, Sans-Serif;
	
}
div#statusbar
{
	font: 15px  Tahoma, Helvetica, Arial, Sans-Serif;
	background-color:#27408B;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:right;
	color:white;
	heigth:20px;
	padding-top:2px;
	padding-bottom:2px;
}
div#statusbar a
{
	color:white;
}
