
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1 class="white">{{ 'LOGIN_HEADING' | translate }}</h1>
      <form name="loginForm" ng-submit="loginForm.$valid && login.login()" class="form-inline">
        <div class="form-group">
          <input type="text" name="loginName" ng-model="login.user.loginName" placeholder="Benutzername" required="required" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" ng-model="login.user.password" placeholder="Passwort" required="required" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Anmelden</button>
        <div ng-messages="login.loginErrors" ng-messages-include="app_components/templates/error-messages.html" class="panel panel-danger"></div>
      </form>
      <p class="white">Falls Du noch nicht registriert bist, <a ui-sref="register">klicke hier.</a></p>
    </div>
  </div>
</div>