
<div id="wrapper">
  <!-- Navigation-->
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display-->
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand">R²</a>
    </div>
    <!-- Top Menu Items-->
    <ul class="nav navbar-right top-nav">
      <li class="dropdown"><a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user"></i>{{ main.principal.displayName }}<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-fw fa-user"></i>Profile</a></li>
          <li><a href="#"><i class="fa fa-fw fa-envelope"></i>Inbox</a></li>
          <li><a href="#"><i class="fa fa-fw fa-gear"></i>Settings</a></li>
          <li class="divider"></li>
          <li><a ng-click="main.logout()"><i class="fa fa-fw fa-power-off"></i>Log Out</a></li>
        </ul>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens-->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="active"><a href="blank-page.html"><i class="fa fa-fw fa-file"></i>Start</a></li>
        <li><a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i>Dropdown<i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li><a href="#">Dropdown Item</a></li>
            <li><a href="#">Dropdown Item</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse-->
  </nav>
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading-->
      <div class="row">
        <div class="col-lg-12">
          <div ui-view=""></div>
        </div>
      </div>
    </div>
  </div>
</div>