.row{
    padding-top:2em;
}
.file-meta{
    color: rgba(128, 128, 128, 0.67);
    font-style: italic;
}
.crumb{
    color:white;
}
.image-preview{
    max-width: 100%;
}
.modal-file-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.parent-dir{
   color:rgba(128, 128, 128, 0.78) !important;
}
.header-logo{
	height: 2.5em;
}
.header-vendor{
	font-weight: bold;
    margin-right: -4px;
    font-size: 1.4em;
}
.header-middle{
	vertical-align: sub;
}
.header-instance{
	color:#818a91;
	font-size: small;
    vertical-align: baseline;
}